/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* * grouped styles start */
body,
.container,
.grid-content, 
.container.services,
.container > nav:first-child,
div.container.services > nav > a.logo-link,
section.nav-links,
.main-header,
.service-header,
header.main-header > section,
.top-content,
.mid-content,
.bottom-content,
footer {
  display: flex;
}

body,
.container,
header.main-header > section,
.service-header {
  flex-direction: column;
}

.container,
header.main-header > section > p,
.top-content,
.image-control {
  margin: 0 auto;
}

.container,
.nav-links {
  width: 70%;
}

header.main-header > section > h1,
header.main-header > section > p {
  text-align: center;
}

.mid-content,
.image-control,
.bottom-content,
footer,
.top-content,
.main-header {
  width: 100%;
}

.nav-links > p,
.nav-links > a {
  text-decoration: none;
  font-size: 1.05em;
  color: gray;
  padding: 0.75em 0;
  width: 13.5%;
  vertical-align: middle;
}

/* ! grouped styles end */

body {
  width: 100vw;
  background-color: black;
}

.container {
  background-color: white;
  padding: 0 2.5em;
}

.container > nav:first-child {
  margin-top: 0.5em;
}

.logo {
  background: url("../img/logo.png") no-repeat;
}

.nav-links {
  justify-content: space-between
}

.nav-links.logo {
  vertical-align: bottom;
  margin-left: auto;
  width: 25%;
}

.main-header {
  padding-bottom: 3em;
  border-bottom: 1px solid #000;
  margin: 2.75em auto;
  margin-bottom: 2.3em;
}

.main-header > section > h1 {
  font-size: 5em;
  width: 85%;
  padding-top: 0.75em;
}

.main-header > section {
  margin: 0 43px;
}

.main-header > section > p {
  width: 55%;
  padding: 0.55em 1em;
  border: 1px solid gray;
  color: gray;
  margin-left: 3.2em;
}

.main-header > section {
  vertical-align: middle;
  width: 35%;
}

.content > header {
  font-weight: bolder;
  text-shadow: 1px 1px 1.25px black;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: -0.5px;
  font-style: oblique;
}

.top-content {
  margin-bottom: 50px;
}

.top-content > section {
  width: 45%;
}

.top-content > section:first-child {
  margin-right: 2em;
}

.top-content > section:nth-child(2) {
  margin-left: 50px;
}

.top-content > section > p {
  letter-spacing: 0.95px;
}

.image-control {
  margin-bottom: 2em;
}

.image-control > img {
  width: inherit;
}

.bottom-content {
  padding-bottom: 2em;
  border-bottom: 1px solid #000;
  margin-bottom: 2em;
}

.bottom-content > section {
  width: 32%;
  margin-right: 0.8em;
}

.bottom-content > section:last-child {
  margin-right: 0;
}

.contact-information > p {
  width: 200px;
  margin-bottom: 10px;
}

footer {
  padding-bottom: 2em;
  margin-top: 3em;
  justify-content: center;
}

/* Service css */

div.container > nav > a.logo-link {
  width: 30%;
  justify-content: flex-end;
}

.container section.logo {
  width: 69%;
  height: 100%;
}

.service-header {
  width: 100%;
  height: 300px;
  padding-bottom: 2em;
  border-bottom: 1px solid #000;
}

.service-header header {
  margin-top: 1.25em;
  font-size: 1.25em;
}

.service-header p {
  font-size: .95em;
  letter-spacing: .5px;
}

.services-header-img {
  background: url('../img/services-header.jpg') no-repeat;
  height: 100%;
  margin-top: 1.5em; 
}

.grid-content {
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: space-between;
  margin-top: 2.5em;
  align-content: space-around;
  border-bottom: 2px solid #000;
  margin-bottom: 2em;
}

.item.content {
  display: inline-block;
  width: 47%;
  padding: 25px;
  border: 1px solid #000;
  background-color: #F4F3F4;
  margin-bottom: 3em;
}

.item.content > p{
  width: 100%;
  margin: 0;
  font-size: .95em;
  letter-spacing: .5px;
}

.button {
  padding: 10px 15px;
  background-color: white;
  border: 1px solid #000;
  border-radius: 5px;
  width: 45%;
  display: flex;
  justify-content: center;
  font-size: 75%;
  margin-top: 1.5em;
}

.content-related-container {
  display: flex;
  justify-content: space-between;
}

.content-related-container > .content {
  width: 45%;
}

.content-related-container  p {
  font-size: 16px;
  letter-spacing: 0px
}
.content-related-container ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  list-style: square;
  height: 6em;
  margin-top: 1.6em;
  margin-left: 1.4em;
  font-size: 16px;
  line-height: 2em;
}

.services-info-img {
  background: url('../img/services-info.png') no-repeat;
  width: 420px;
  height: 300px;
}
